<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="stylesheet" href="/styles/style.css">
    <title>GoodBooks</title>
</head>
<body>
    <section class="navbar">
        <h1 class="logo">GoodBooks</h1>
        <form action="/search" method="post" class="search">
            <input type="text" name="search" id="search-input" placeholder="<%= locals.error? error : 'Enter book name' %>">
            <button type="submit" class="search-btn">Search</button>
        </form>
    </section>

    <section class="book-body">